// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-avatars {
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.users-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}